
body{
    font-family: Inter,sans-serif;
    text-align: center;
}
#nav{
    display: flex;
position: fixed;
top: 0%;
left: 0%;
right: 0%;
padding: 0%;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
width: 100%;
background-color:white;
height: 50px;
}
#nav>img{
    width: 100px;
    margin-top:-25px;
    height:100px;
    margin-right: 180px;
    margin-left: 10px;

}
.dropbtn>span{
    display: inline-block;
    transform: rotate(90deg);
    

}
.dropbtn,.btn{
    width: 100px;
    height:40px;
    border: none;
    margin-left: 19px;
    vertical-align: middle;
    background-color: white;
    
}

.fom{
    width: 60px;
    height:33px;
    border: none;
    margin: auto;  
    margin-right: -100px;
    border-radius: 7px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 11%);
}
.fom:hover{
    color:rgb(43, 181, 176);
}

.fom1{
    width: 75px;
    height:33px;
    margin: auto;
    border: none;   
    margin-right: 14px;
    background-color: rgb(43, 181, 176);
    border-radius: 7px;
}
.btn:hover{
    color:  rgb(43, 181, 176);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: rgb(43, 181, 176);
  }
#hea{
    margin: auto;
   text-align: center;
   margin-top: 150px;
   font-family: Inter,sans-serif;

}
#hea img{
    width: 100%;
    height:400px;
    margin-top: 30px;
    background-color: #fffcfc;
}
#ahea{
    text-align: center;
}
#ahea>h1{
    font-size: 50px;
    margin-top: 60px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0.2em;
    font-family: Inter,sans-serif;
}
#section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    margin: auto;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
}
#section>div{
    width: 300px;
    height: 280px;
    border-radius: 8px;
    line-height: 15px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 4%);
    color: inherit;
    
}
#section>div>p{
    line-height: normal;
    text-align: center;
}
#section>div img{
width: 40px;
height: 40px;
margin-top: 18px;
}
#section>div>a{
        font-size: 17px;
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;
        color: #00baab;
}
#section>div>a:hover{
    text-decoration: underline;
}
#section>div:nth-child(7),#section>div:nth-child(8),#section>div:nth-child(9){
    width: 300px;
    height: 310px;
    line-height: normal;
}
#section>div:nth-child(2),#section>div:nth-child(5),#section>div:nth-child(8){
    background: rgba(249,90,125,.03);
    border: 1px solid #e8e8e8;
}
#section>div:nth-child(1),#section>div:nth-child(4),#section>div:nth-child(7),#section>div:nth-child(3),#section>div:nth-child(9),#section>div:nth-child(6){
background-color: rgb(248, 253, 253);
border: 1px solid rgb(228, 235, 235);;
}

.inner{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
height: auto;
width: 63%;
margin: auto;
text-align: center;
margin-bottom: 50px;
margin-top: 100px;
}
.coin>img{
height: auto;
width: 40px;
margin-top: 30px;
}
.coin>p{
    margin-left: 20px;
    margin-right: 20px;
}
.coin{
width: 260px;
height: 260px;
border-radius: 4px;
border: 0.5px solid rgb(186, 184, 184);
margin: auto;
box-shadow: 0 2px 2px rgb(0 0 0 / 4%);}
.inner >div:nth-child(3),.inner>div:nth-child(5){

    background-color: rgb(248, 253, 253);
}
.inner>div:nth-child(2),.inner>div:nth-child(4),.inner>div:nth-child(6){

    background: rgba(249,90,125,.03);
}
#an{
 text-decoration: none;
color: #ca5e23;
font-weight: bold;

}
#foot{
    text-align: center;
    width: 90%;
    margin: auto;
}
#foot>h1{
    margin-bottom: 18px;
    font-size: 50px;
    display: block;
}
#foot>p{
    font-size: 24px;
    width: 68%;
    margin: auto;
    color: #6c729c;
}
#foot>button{
 padding:16px 24px 16px 24px;
 font-size: large;
 color: #fffcfc;
 background-color: #00baab;
 border-radius: 9px;
 border: none;
 line-height: 20px;
 margin-top: 29px;
 margin-bottom: 29px;
}
#foot>div img{
    width:16px;
    height: 16px;
    margin-right: 10px;
}
#panda{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#foot+div>h1{
    font-size: 52px;
}
#foot+div{
    text-align: center;
}
#foot+div>p{
    color: #6c729c;
    width:60%;
    margin: auto;
    font-size: 25px;
}

#form1{
    margin: auto;
    text-align: center;
    width: 58%;
    align-items: center;
    height: 500px;
    border: 1.1px solid  rgb(43, 181, 176);
    align-items: center;
    padding: auto;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 100px;
    }
    #form1>img{
        width: 50px;
        height: 50px;
        padding-top: 50px;
    }
    #form1>h1{
        font-size: 44px;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
    }
    #form1>input+button{
    margin-left:-114px;
    padding: 9px;
    background-color: rgb(43, 181, 176);
    border: none;
    width: 100px;
    border-radius: 5px;
    }
    #form1>br+button{
        width: 510px;
        height: 50px;
        border: none;
        background-color: white;
        margin-right: -5px;
        border-radius: 7px;
        color: black;
        margin-top:50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: 17px;
    }
    #form1>br+button:hover{
        color: rgb(43, 181, 176);;
    }
    #form1>br+button img{
        width: 28px;
        height: 24px;
        vertical-align:middle;
        padding-right:-10px;
    
    }
    #email{
        width: 490px;
        height: 50px;
        padding-left: 13px;
        border-radius: 7px;
        background-color: rgb(240, 233, 233);
        color: white;
        border: none;
    }
    #email:hover{
        border:  rgb(43, 181, 176);
    }
    #form1 p{
        margin: auto;
        font-size: large;
        width: 65%;
        line-height: 27px;
        margin-bottom: 30px;
    }
    #prize{
        margin: auto;
        width: 55%;
        text-align: center;
        margin-top: 20px;
    }
    #prize>img{
        margin: auto;
        width: 80px;
        height:106px;
    }
    #service{
    display: flex;
    justify-content: space-evenly;
    }
    #service>div{
        width: 16%;
        padding:auto;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #service>div>h4{
    
        font-size: 14px;
        color:  rgb(43, 181, 176);
    }
    #service>div>p:hover{
    
    color: rgb(43, 181, 176);
    }
    #last{
        display: flex;
    }#last>p{
        margin-left: 20px;
    }
    #last img{
        width: 100px;
        height: 60px;
    }

#ff{
    margin: auto;
}
#log{
    margin: auto;
}
    
@media screen and (min-width:700px) and (max-width: 930px) {
    #nav {
        display: none;
    }



    #section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 70%;
        margin: auto;
        text-align: center;
        row-gap: 10px;
        column-gap: 10px;
    }

    .inner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        height: auto;
        width: 63%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 100px;
        }
    #form1 {
        margin: auto;
        text-align: center;
        width: 55%;
        align-items: center;
        height: 460px;
        border: 1.1px solid rgb(43, 181, 176);
        align-items: center;
        padding: auto;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #email {
        width: 330px;
        height: 40px;
        padding-left: 13px;
        border-radius: 7px;
        background-color: rgb(240, 233, 233);
        color: white;
        border: none;
    }

    #form1>br+button {
        width: 330px;
        height: 40px;
        border: none;
        background-color: white;
        margin-right: -5px;
        border-radius: 7px;
        color: black;
        margin-top: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: 17px;
    }
}

@media screen and (min-width:500px) and (max-width: 700px) {


    #nav {
        display: none;
    }

    
    #form1 {
        margin: auto;
        text-align: center;
        width: 65%;
        align-items: center;
        height: 470px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    .inner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        height: auto;
        width: 63%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 100px;
        }

    #email {
        width: 230px;
        height: 30px;
        padding-left: 0px;
        border-radius: 7px;
        margin-left: -20px;

    }

    #form1>br+button {
        width: 230px;
        height: 25px;
        border: none;

        color: black;
        margin-top: 16px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: 15px;
    }
    #form1>h1{
        font-size: 37px;
    }
    #form1>input+button {
        width: 70px;
        height: 25px;
        font-size: 10px;
        margin-left: -98px;
    }

}
@media screen and (max-width:500px){

    #nav {
        display: none;
    }
    #section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 70%;
        margin: auto;
        text-align: center;
        row-gap: 10px;
        column-gap: 10px;
    }

    .inner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        height: auto;
        width: 63%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 100px;
        }

    #form1 {
        margin: auto;
        text-align: center;
        width: 70%;
        align-items: center;
        height: 390px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    #email {
        width: 230px;
        height: 30px;
        padding-left: 0px;
        border-radius: 7px;
        margin-left: -20px;

    }
    #form1>p{
        font-size: 13px;
    
    }
    #form1>img{
        margin-top: -17px;
    }

    #form1>br+button {
        width: 230px;
        height: 25px;
        border: none;

        color: black;
        margin-top: 16px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-size: 15px;
    }
    #form1>h1{
        font-size: 23px;
        margin-top: 10px;
    }
    #form1>input+button {
        width: 70px;
        height: 25px;
        font-size: 10px;
        margin-left: -98px;
    }
#form1>img{
    margin-top: -34px;
}
    #imgcp>img {
        width: 500px;
        height: 400px;
        margin-top: -100px;
    

    }

    

}
